@import "../../styles/variables";
@import "../../styles/button";

.banner {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  background: url("https://source.unsplash.com/user/adity_a/likes/");
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 700px;
  height: 100vh;
  overflow: hidden;
}
.fixed-position {
  width: 30px;
  vertical-align: top;
  display: inline-block;
}

.scaffold {
  display: flex;
  flex-direction: column;
}
